<header class="header page__header">
    <div class="header__title">
        <div class="header__title_name">
            Алексей Шмелев
        </div>
        <div class="header__title_search">
            <form id="js-search-form" class="mainpage__search mainpage__search_hidden-suggestion" role="search" onsubmit="return false">
                <div class="mainpage__search-item">
                    <label for="search"></label><input type="search" id="search" class="mainpage__search-input" placeholder="Поиск..." autocomplete="off" autofocus="">
                </div>
                <div id="search-suggestions" class="mainpage__search-suggestions search__suggestions search__suggestions__hidden" role="listbox">
                </div>
            </form>
        </div>
    </div>
    <ul class="navigation">
        <li class="navigation__item"><a class="link" href="/">Главная</a>
        <li class="navigation__item"><a class="link" href="/about/index.html">Обо мне</a>
    </ul>
</header>