<header class="header page__header">
    <div class="header__title">Алексей Шмелев</div>
    <ul class="navigation">
        <li class="navigation__item"><a class="link" href="/">Главная</a>
        <li class="navigation__item"><a class="link" href="/about/">Обо мне</a>
    </ul>
</header>