---
layout: default3
title: Home
---
<div class="container">
    <div class="archive">
        {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
        {% for year in postsByYear %}
            <div class="archive__year">
                <h2 class="archive__year-name">
                    {{ year.name }}
                </h2>
                {% for post in year.items %}
                    <div class="archive__post">
                        <div class="archive__post-heading">
                            <small><b>{{ post.date | date: "%d.%m.%Y" }}</b></small>
                            <a href="{{ post.url }}" class="archive__post-title">{{ post.title }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
