---
title: Блог lexusalex
layout: page.njk
permalink: index.html
---

{% include 'header.njk' %}

<main class="page__main">
    <div class="posts">
        {%- for article in collections.articles | reverse -%}
            {% if article.data.published %}
                <div class="posts__item">
                    <time class="posts__date" datetime="{{ article.date | htmlDateString }}">{{ article.date | readableDate }}</time>
                    <a class="posts__link" href="{{ article.url | url }}">
                        {{ article.data.title }}
                    </a>
                    <div class="posts__description">
                        {{ article.data.description }}
                    </div>
                </div>
            {% endif %}
        {%- endfor -%}
    </div>
</main>


{% include 'footer.njk' %}