abbr {
    cursor: help;
}

blockquote {
    font-size: 1.125rem;
    max-width: 32em;
    margin: 1.5rem 0;
    padding-left: 1.5rem;
    position: relative;
}

blockquote::before {
    content: '“';
    font-size: 3rem;
    left: 0;
    line-height: 1;
    position: absolute;
    top: -0.125rem;
    opacity: 0.2;
}

blockquote footer {
    font-size: 1rem;
    text-align: right;
}

blockquote cite {
    font-style: normal;
}

.caps {
    letter-spacing: 0.05em;
}

code {
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
    font-size: 0.75em;
}
figure {
    max-width: 32em;
}

figcaption {
    font-size: 0.875rem;
    margin-top: 0.5rem;
}

hr {
    border: none;
    border-bottom: thin solid var(--color-border);
    height: 0;
    margin: 1rem 0;
}

iframe {
    display: block;
}

iframe:not(:last-child) {
    margin-bottom: 1rem;
}

img {
    border: thin solid rgba(0, 0, 0, 0.1);
    display: block;
    margin-bottom: 1rem;
    max-width: 100%;
    height: auto;
}

kbd {
    background: rgba(0, 0, 0, 0.05);
    border: thin solid rgba(0, 0, 0, 0.2);
    border-radius: 0.1875em;
    font: inherit;
    font-size: 0.875em;
    padding: 0.0625em 0.25em;
}

:matches(ul, ol) {
    margin: 0;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    max-width: 32em;
    padding: 0;
    padding-left: 1.5rem;

}

ul {
    /*list-style: none;*/
}

li:not(:last-child) {
    margin-bottom: 0.875rem;
}

.nobr {
    white-space: nowrap;
}

p {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    max-width: 40em;
}

.subtitle {
    font-size: 1.25rem;
}


:matches(h1, h2, h3, h4, h5, h6):not(.visuallyhidden) + p {
    margin-top: -0.75rem;
}

:matches(section, article) {
    padding: 1.25rem 0;
}

:matches(section, article):target {
    position: relative;
}

:matches(section, article):target::before {
    animation: highlightTarget 5s;
    bottom: 0;
    content: '';
    left: -1rem;
    position: absolute;
    right: -1rem;
    top: 0;
    z-index: -1;
}

@keyframes highlightTarget {
    0% {
        background-color: var(--color-highlight);
    }

    50% {
        background-color: var(--color-highlight);
    }

    100% {
        background-color: transparent;
    }
}

.sidenote {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sidenote--image {
    align-items: flex-start;
}

.sidenote p {
    margin: 0;
}

.sidenote img {
    display: block;
    margin: 0;
}

.sidenote__paragraph,
.sidenote__note {
    margin: 0;
    flex: 0 1 100%;
}

.sidenote__note {
    max-width: 32em;

    margin-top: 1em;
    padding-left: 3em;
    padding-right: 3em;
    font-size: 0.75em;
}

.sidenote--image .sidenote__note {
    margin-top: 0.5rem;
}

.spoiler {
    background-color: currentColor;
}

.spoiler:hover {
    background-color: transparent;
}

.spoiler:not(:hover)::selection {
    color: inherit;
    background-color: currentColor;
}

sup {
    font-size: 0.75em;
}

:matches(section, article) {
    padding: 1.25rem 0;
}

:matches(section, article):target {
    position: relative;
}

:matches(section, article):target::before {
    animation: highlightTarget 5s;
    bottom: 0;
    content: '';
    left: -1rem;
    position: absolute;
    right: -1rem;
    top: 0;
    z-index: -1;
}

@keyframes highlightTarget {
    0% {
        background-color: var(--color-highlight);
    }

    50% {
        background-color: var(--color-highlight);
    }

    100% {
        background-color: transparent;
    }
}

time {
    color: #666;
}

p.description {
    margin-top: 0;
    font-size: 1.2rem;
}

pre {
    background-color: #f7f7f7;
    overflow-x: scroll;
    margin: 1.25em 0;
}
