<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, max-scale=1.0">
    <meta name="description" content="">
    <title>
        {% if page.title == "Home" %}
        {{ site.title }} &middot; {{ site.tagline }}
        {% else %}
        {{ page.title }}
        {% endif %}
    </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora|Ubuntu+Mono:400,400i,700,700i&amp;subset=cyrillic">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/atom-one-dark-reasonable.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/atom-one-dark-reasonable.min.css">

    <link rel="preload" href="/public/font/charter-regular.woff2" as="font" type="font/woff2">
    <link rel="shortcut icon" href="/public/favicon.png">
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/atom.xml">
</head>
<body class="page">

    <div class="content">
        {{ content }}
    </div>

    <div class="footer">
        <div>
            🍪
            {% if page.title != "Home" %}
            <a href="/">На главную</a>
            {% endif %}
            <a href="/about">О блоге</a>
            <a href="/books">Книги</a>
            <a href="/atom.xml">RSS</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
    <script src="/public/js/scripts.js"></script>

    <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter47811625 = new Ya.Metrika2({ id:47811625, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/tag.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks2"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/47811625" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
</body>
</html>
