---
layout: default
---

{{ content }}
<!-- Yandex.RTB R-A-10389718-1 -->
<div id="yandex_rtb_R-A-10389718-1"></div>
<script>
    window.yaContextCb.push(() => {
        Ya.Context.AdvManager.render({
            "blockId": "R-A-10389718-1",
            "renderTo": "yandex_rtb_R-A-10389718-1"
        })
    })
</script>
{% assign sortedNotes = site.pages | sort: 'nav_order' | reverse %}
<div>
    <h2>Вопросы и решения</h2>

    <h3>sql</h3>
    <table>
        <tr>
            <td>#</td>
            <td>Название</td>
            <td>Дата</td>
        </tr>
        {% for page in sortedNotes %}
            {% if page.parent == 'sql' %}
            <tr>
                <td><small>{{ page.nav_order }}.</small></td>
                <td><a href="{{ page.url }}">{{ page.title }}</a></td>
                <td><small>{% include date.html date=page.date %}</small></td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>

    <h3>no-sql</h3>
    <table>
        <tr>
            <td>#</td>
            <td>Название</td>
            <td>Дата</td>
        </tr>
        {% for page in sortedNotes %}
        {% if page.parent == 'no-sql' %}
        <tr>
            <td><small>{{ page.nav_order }}.</small></td>
            <td><a href="{{ page.url }}">{{ page.title }}</a></td>
            <td><small>{% include date.html date=page.date %}</small></td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>

    <h3>javascript</h3>
    <table>
        <tr>
            <td>#</td>
            <td>Название</td>
            <td>Дата</td>
        </tr>
        {% for page in sortedNotes %}
            {% if page.parent == 'javascript' %}
            <tr>
                <td><small>{{ page.nav_order }}.</small></td>
                <td><a href="{{ page.url }}">{{ page.title }}</a></td>
                <td><small>{% include date.html date=page.date %}</small></td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>

    <h3>linux-cli</h3>
    <table>
        <tr>
            <td>#</td>
            <td>Название</td>
            <td>Дата</td>
        </tr>
        {% for page in sortedNotes %}
            {% if page.parent == 'linux-cli' %}
            <tr>
                <td><small>{{ page.nav_order }}.</small></td>
                <td><a href="{{ page.url }}">{{ page.title }}</a></td>
                <td><small>{% include date.html date=page.date %}</small></td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>

    <h3>git</h3>
    <table>
        <tr>
            <td>#</td>
            <td>Название</td>
            <td>Дата</td>
        </tr>
        {% for page in sortedNotes %}
            {% if page.parent == 'git' %}
            <tr>
                <td><small>{{ page.nav_order }}.</small></td>
                <td><a href="{{ page.url }}">{{ page.title }}</a></td>
                <td><small>{% include date.html date=page.date %}</small></td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>

    <h3>php</h3>
    <table>
        <tr>
            <td>#</td>
            <td>Название</td>
            <td>Дата</td>
        </tr>
        {% for page in sortedNotes %}
            {% if page.parent == 'php' %}
            <tr>
                <td><small>{{ page.nav_order }}.</small></td>
                <td><a href="{{ page.url }}">{{ page.title }}</a></td>
                <td><small>{% include date.html date=page.date %}</small></td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>

    <h3>html / css</h3>
    <table>
        <tr>
            <td>#</td>
            <td>Название</td>
            <td>Дата</td>
        </tr>
        {% for page in sortedNotes %}
        {% if page.parent == 'html / css' %}
        <tr>
            <td><small>{{ page.nav_order }}.</small></td>
            <td><a href="{{ page.url }}">{{ page.title }}</a></td>
            <td><small>{% include date.html date=page.date %}</small></td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>

    <h2>Заметки</h2>
    <table>
        <tr>
            <td style="width: 7px">#</td>
            <td>Название</td>
            <td>Дата</td>
        </tr>
        {% for page in sortedNotes %}
        {% if page.parent == 'Заметки' %}
        <tr>
            <td style="width: 7px"><small>{{ page.nav_order }}.</small></td>
            <td><a href="{{ page.url }}">{{ page.title }}</a></td>
            <td><small>{% include date.html date=page.date %}</small></td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    
</div>