---
layout: default3
---

<div class="content__container container">
    <section class="post _with-comments" itemtype="http://schema.org/BlogPosting" itemscope="">
        <time datetime='{{ page.date | date:"%Y-%m-%d" }}' itemprop="datePublished">{% include date.html date=page.date %}</time>
        <header class="post__heading">
            <h1 class="post__heading-title" itemprop="headline">{{ page.title }}</h1>
        </header>
        <article class="post__content" itemprop="articleBody">
            {{ content }}
        </article>
    </section>

    {% if page.comments %}
    <div class="comments">
        <h2>Комментарии</h2>
        {% include comments.html %}
    </div>
    {% endif %}
</div>
