---
layout: default2
---

<div class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    <time class="post-date" datetime='{{ page.date | date:"%Y-%m-%d" }}'>
        {% include date.html date=page.date %}
        <ul class="tag-box inline" style="float:right;font-size:0.875em">
            {% capture tags %}
            {% for tag in page.tags %}
            {{ tag }}
            {% endfor %}
            {% endcapture %}
            {% assign sortedtags = tags | split:' ' | sort %}

            {% for tag in sortedtags %}
            <li><a href="/tags#{{ tag | cgi_escape }}">{{ tag }}</a></li>
            {% endfor %}
        </ul>
    </time>
    {{ content }}
</div>

{% include related.html %}

{% if page.comments %}
<div class="comments">
    <h2>Комментарии</h2>
    {% include comments.html %}
</div>
{% endif %}

<script src="{{ '/public/js/viewer.js' | prepend: site.baseurl }}"></script>
<link href="{{ '/public/css/viewer.css' | prepend: site.baseurl }}" rel="stylesheet">
<script type="text/javascript">
    $('.post img').each(function(){
        new Viewer(this, {
            fullscreen: true,
            title: true,
            navbar: false,
            rotable: true,
            keyboard: true,
            scalable: false,
            movable: false,
            zoomable: false,
            rotatable: false,
            backdrop: false,
            toolbar: false
        });
    });
</script>
