---
layout: default
---

<div class="row justify-content-center">
    <div class="col-12 col-md-8 col-sm-12">
        <article>
            <div class="row">
                <div class="col-12 col-sm-4 text-left">
                    <div class="post-date">{% include date.html date=page.date %}</div>
                </div>
                <div class="col text-left text-sm-right">
                    <div class="post-tags">
                        {% capture tags %}
                        {% for tag in page.tags %}
                        {{ tag }}
                        {% endfor %}
                        {% endcapture %}
                        {% assign sortedtags = tags | split:' ' | sort %}

                        {% for tag in sortedtags %}
                        {{ tag }}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <h1 class="post-title-page">{{ page.title }}</h1>
            <p>
                {{ page.subtitle }}
            </p>
            {% if page.is_navigate %}
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <section class="post-navigate">
                            <div class="text-center"><b>Содержание</b></div>
                            {% include toc.html html=content %}
                        </section>
                    </div>
                </div>
            {% endif %}
            {{ content }}

            {% if page.comments %}
            <div class="comments">
                {% include comments.html %}
            </div>
            {% endif %}
        </article>
    </div>
</div>
