---
title: Блог lexusalex
description: Заметки о программировании. Об администрировании Linux.
layout: base.njk
permalink: "{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
eleventyComputed:
    title: "{% if pagination.pageNumber > 0 %}Страница {{ pagination.pageNumber + 1 }}{% else %}{% endif %}"
pagination:
    data: collections.notes
    size: 10
    reverse: true
---
{% include 'header.njk' %}

<main class="page__content">
    <div class="content">
        <h1>Заметки веб разработчика</h1>
        {% for year, posts in pagination.items | groupByPublicationYear %}
            <section>
                <h2 class="content_year">{{ year }}</h2>
                <div class="notes">
                    {% for post in posts %}
                        <a id="atricle_{{ post.data.number }}" class="notes__item" style='background: linear-gradient(to top, rgba(233, 219, 219, 1), rgba(255, 255, 255,.7)), url({{ post.data.gradient_image }});background-repeat: no-repeat;background-position: center;box-shadow: 0 2px 6px rgba(185, 176, 176, 1);' href="{{ post.url }}">
                           <div style="font-weight: bold">{{ post.data.title }}</div>
                            <small class="notes__item_tags">{{ post.data.themes}} ( {{ post.data.number }} )</small>
                            <time class="notes__item_time" datetime="{{ post.date | dateToIsoString }}">{% formatDate post.date %}</time>
                        </a>
                    {% endfor %}
                </div>
                {#<table class="dated-table">
                    <tbody>
                    {% for post in posts %}
                        <tr>
                            <td>
                                <time datetime="{{ post.date | dateToIsoString }}">{% formatDate post.date %}</time>
                            </td>
                            <td>
                                <img width="200px" src="{{ post.data.image }}" alt="">
                            </td>
                            <td>
                                <a href="{{ post.url }}">{{ post.data.title }}</a> {{ '★' if 'favouriteNotes' in post.data.tags }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>#}
            </section>
        {% endfor %}
        {% include 'pages.njk' %}
    </div>
</main>

{% include 'footer.njk' %}