---
layout: base.njk
---

{% include 'header.njk' %}

<article class="article" itemtype="http://schema.org/BlogPosting" itemscope="">
    <header  class="article__header">
        <time datetime="{{ date | dateToIsoString }}" itemprop="datePublished">
            {% formatDate date %}
        </time>
        <h1 itemprop="name headline">{{ title }}</h1>
    </header>

    <div class="content" itemprop="articleBody">
        <figure style="border: none">
            <img src="{{ main_image }}" alt=""  data-action="zoom">
        </figure>
        <p class="description">
            {{ description }}
        </p>
        {{ content | safe }}
    </div>

    <div id="disqus_thread"></div>
    <script>
        /**
         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://lexusalex-ru.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</article>

{% include 'footer.njk' %}